.about-section {
    display: flex;
}

#bio {
    align-items: center;
    padding: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .photo-container {
        width: 350px;
        height: 350px;
    }
    .text-container {
        width: 60%;
        margin-left: 35px;
    }
}
