.blog-item-details {
    background-color: $light-grey;
    // height: 250px;
    width: 90%;
    margin-top: -2rem;
    left: 0;
    padding: 30px;
    position: relative;
    
}

.blog-item {
    width: 30%;
    position: relative;
    height: 460px;
    margin-right: 30px;
    display: inline-block;
}


.tag-horizontal-line {
border-bottom: 1px solid $dark-gold;
width: 100%;
position: relative;
}


#tags-nav{
    display: flex;
    justify-content: center;
    .tags-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        flex-wrap: wrap;
        .tag-link {
            padding: 20px 0 20px 0;
            color: $dark-gold;
            margin: 0 4rem;
            letter-spacing: 5px;
            font-family: 'arnopro-smbd', serif;
            font-size: 0.7rem;
        &.active{
            color: $dark-grey;

            }
        }
    }
}

.read-btn {
    color: black;
    &:hover {
        color: $dark-gold;
    }
}



@media (min-width: 1024px) {
    .tags-bar {
        padding: 10% 4% 0 4%;
    }
    .blog-index-container {
        padding: 4% 4.5%;
    }
    #blog-index, #landing-blog-index {
        margin-top: 2rem;
        display: flex;
        .title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .title {
                font-size: 3.5rem;
            }
        }

        .items-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .item {
                width: 27%;
                position: relative;
                height: 460px;
                margin-right: 3rem;
                display: inline-block;              
                


                .image-container {
                    margin-left: 3rem;
                    max-height: 200px;
                    overflow: hidden;
                    display: flex;
                    box-shadow: 1px 2px 15px #ededed;
                    .image {
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }

            .title {
                font-size: 1.8rem;
            }
        }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tags-bar {
        padding: 13% 6% 0 6%;
    }
    .blog-index-container {
        padding: 5% 6%;
    }
    #blog-index, #landing-blog-index {
        margin-top: 2rem;
        display: flex;
        .title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .title {
                font-size: 3.5rem;
            }
        }

        .items-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .item {
                width: 42%;
                position: relative;
                height: 460px;
                margin-right: 3rem;
                display: inline-block;


                .image-container {
                    margin-left: 3rem;
                    max-height: 200px;
                    overflow: hidden;
                    display: flex;
                    box-shadow: 1px 2px 15px #ededed;
                    .image {
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }

            .title {
                font-size: 1.8rem;
            }
        }
    }

@media (min-width: 426px) and (max-width: 767px) {
    .tags-bar {
        padding: 20% 4% 0 4%;
    }
    .blog-index-container {
        padding: 8% 5%;
    }
    #blog-index, #landing-blog-index {
        margin-top: 2rem;
        display: flex;
        .title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .title {
                font-size: 3.5rem;
            }
        }

        .items-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .item {
                width: 50%;
                      
                // height: 460px;

                .blog-item-details {
                  padding: 1em;
                }


                .image-container {
                    margin-left: 3rem;
                    max-height: 200px;
                    overflow: hidden;
                    display: flex;
                    box-shadow: 1px 2px 15px #ededed;
                    .image {
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }

            .title {
                font-size: 1.3rem;
            }
        }
    }



@media (min-width: 320px) and (max-width: 425px) {
    .tags-bar {
        padding: 30% 6% 0 6%;
    }
    .blog-index-container {
        padding: 8% 5%;
    }
    #blog-index, #landing-blog-index {
        margin-top: 2rem;
        display: flex;
        .title-container {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            .title {
                font-size: 3.5rem;
            }
        }

        .items-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .item {
                width: 100%;
                
                box-shadow: 2px 2px 10px #ededed;

                .blog-item-details {
                  width: 100%;
                }

                .image-container {
                    max-height: 200px;
                    overflow: hidden;
                    display: flex;
                    
                    .image {
                        width: auto;
                        object-fit: cover;
                    }
                }
            }
        }

            .title {
                font-size: 1.4rem;
            }
        }
    }

// Make every blog item same height
#blog-index .items-container .item {
  margin-bottom: 2em;
  display: inline-flex;
  flex-direction: column;

  .blog-item-details {
    flex: 1;

    a {
      display: block;
    }
  }
}