content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  content .taglist li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

.blog-post {
  &-img-container {
    padding-left: 30px;
    height: 55%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .featured-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100vw;
  }

  .blog-flex {
    display: flex;
    justify-content: center;

    .blog-content {
      position: relative;
      top: -100px;
      width: 80%;
      max-width: 1200px;
      padding: 5%;
      background-color: white;

      .social-share {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 2.5rem;

        a {
          i {
            font-size: 1.2rem;
            color: grey;
            margin: 0 10px;
          }

          i:hover {
            color: $dark-gold;
          }
        }

      }

      .taglist {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;

        li {
          margin-right: 15px;
          line-height: 1.2rem;
          margin: 0;

          a {
            color: black;
          }

          a:hover {
            color: $dark-gold;
          }

          .tag-divider {
            margin: 0 15px;
          }
        }
      }
    }
  }
}


