#landing-hero-video {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;

  &,
  video,
  .video-overlay {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
  }

  video {
    background: $dark-grey;
    object-fit: fill;

    @media (max-width: 1024px) {
      object-fit: cover;
    }
  }

  .video-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
  }

  @-webkit-keyframes fadeOut {
      0% { opacity: 1;}
      99% { opacity: 0.01;width: 100%; height: 100%;}
      100% { opacity: 0;width: 0; height: 0;}
  }
  @keyframes fadeOut {
      0% { opacity: 1;}
      99% { opacity: 0.01;width: 100%; height: 100%;}
      100% { opacity: 0;width: 0; height: 0;}
  }

  .hide-overlay {
      display: block;
      -webkit-animation: fadeOut 1s;
      animation: fadeOut 1s;
      animation-fill-mode: forwards;
  }
}

.landing-top-banner-info-box {
  .play-video-btn {
    cursor: pointer;
    font-family: arno-pro, sans-serif;
    padding: 10px 30px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: transparent;
    text-decoration: none;
    border: solid 1px $bright-gold;
    color: $bright-gold;
    text-align: center;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    span {
      line-height: 1em;
      margin-right: 0.5em;
      margin-top: 0.3em; // temp hardcoded fix
    }

    i.fas {
      font-size: 1.5em;
    }

    &:hover {
      background: $bright-gold;
      span, i.fas {
        color: white;
      }
    }
  }
}

section.landing-about-us {
  .landing-about-us-philo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .landing-philo-description {
    h4.subtitle-h4 {
      font-size: 1.6em;
    }

    p.desc {
      font-size: 1.1em;
    }
  }

  h3.landing-darkgold-title {
    font-size: 1.8em;
  }

  .offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .offer-1, .offer-2 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 50px 35px;
    width: 40%;
    perspective: 1000px;

    @media (max-width: 768px) {
      width: 100%;
      margin: 20px;
    }

    &:hover {
      background: $dark-gold;

      .offer-inner {
        transform: rotateY(180deg);
        background-color: transparent;
      }
    }
  }

  .offer-1 {
    background-image: url('../../static/img/landing-blog-image-1.jpg');
  }
  .offer-2 {
    background-image: url('../../static/img/landing-blog-image-2.jpg');
  }

  .offer-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 70, 80, 0.5);
  }

  .offer-box {
    position: absolute;
    backface-visibility: hidden;
    border: solid 1px white;
    color: white;
    width: 95%;
    height: 95%;
    padding: 10%;
    align-self: center;

    &.back {
      background-color: $dark-gold;
      color: white;
      transform: rotateY(180deg);

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;

      h3 {
        font-size: 2.3em;
        margin-bottom: 1em;
      }
      p {
        font-size: 1.3em;
        margin-bottom: .3em;
      }
    }
  }

}




@media (min-width: 1025px) {
  .landing-top-banner-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: white;
    padding: 40px 60px;
    outline: solid 1px $bright-gold;
  }
  .landing-gold-title {
    font-size: 3rem;
    color: $bright-gold;
    letter-spacing: 0.1em;
    font-weight: 700;
  }
  .landing-philo-bait {
    width: 40%;
    display: inline-block;
    padding: 25px;
  }
  .landing-philo-description {
    width: 60%;
    display: inline-block;
    padding: 25px;
  }

  .landing-darkgold-title {
    padding-top: 50px;
    letter-spacing: 4px;
    color: $dark-gold;
  }

  .landing-testimonial-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 40px 70px;
    width: 35%;
    outline: solid 1px $bright-gold;
  }

  .landing-blog-title {
    font-size: 1.8rem;
  }

  .landing-blog-title-container {
    width: 70%;
  }

  .landing-blog-item {
    width: 30%;
    position: relative;
    height: 460px;
    margin-right: 30px;
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .landing-top-banner-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    font-size: 1.2rem;
    color: white;
    padding: 40px 60px;
    outline: solid 1px $bright-gold;
  }

  .landing-gold-title {
    font-size: 2.8rem;
    color: $bright-gold;
  }

  .landing-philo-bait {
    width: 40%;
    display: inline-block;
    padding: 25px;
  }

  .landing-philo-description {
    width: 60%;
    display: inline-block;
    padding: 25px;
  }

  .landing-darkgold-title {
    padding-top: 50px;
    letter-spacing: 4px;
    color: $dark-gold;
  }

  .landing-testimonial-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 40px 40px;
    width: 35%;
    outline: solid 1px $bright-gold;
  }

  .landing-blog-title-container {
    width: 70%;
  }

  .landing-blog-title {
    font-size: 1.3rem;
  }

  .landing-blog-item {
    width: 42%;
    position: relative;
    height: 400px;
    margin-right: 30px;
    display: inline-block;
  }

  .landing-blog-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .landing-top-banner-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    color: white;
    padding: 30px 40px;
    outline: solid 1px $bright-gold;
  }
  .landing-gold-title {
    font-size: 2rem;
    color: $bright-gold;
  }

  .landing-darkgold-title {
    padding-top: 50px;
    letter-spacing: 4px;
    color: $dark-gold;
  }
  .landing-testimonial-info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 30px 30px;
    width: 65%;
    outline: solid 1px $bright-gold;
  }
  .landing-philo-bait {
    width: 100%;
    display: block;
    padding: 25px;
  }

  .landing-philo-description {
    width: 100%;
    display: block;
    padding: 25px;
  }

  .offer-1 {
    background-image: url('../../static/img/landing-blog-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 50px 0;
    width: 100%;
    display: block;
  }

  .offer-2 {
    background-image: url('../../static/img/landing-blog-image-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 50px 0;
    width: 100%;
    display: block;
  }

  .landing-blog-title-container {
    margin-top: 30px;
    width: 100%;
  }

  .landing-blog {
    padding-right: 30px;
  }

  .landing-blog-item {
    width: 100%;
    position: relative;
    height: 400px;
    margin: 0 30px 30px 0;
  }

  .landing-blog-title {
    font-size: 1rem;
  }
}

.landing-about-us {
  background-color: white;
  padding: 5%;
}

.landing-testimonial-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing-blog {
  margin: 5%;
  width: 100%;
  flex-wrap: wrap;
}

.landing-blog-date {
  align-items: center;
}
