@font-face {
    font-family: 'arno-pro';
    src: url('../../static/fonts/ArnoPro-Regular.otf');
  }
  
  @font-face {
    font-family: 'arno-pro-bold';
    src: url('../../static/fonts/ArnoPro-Bold.otf');
  }
  
  @font-face {
    font-family: 'arno-pro-smbd';
    src: url('../../static/fonts/ArnoPro-Smbd.otf');
  }
  
  @font-face {
    font-family: 'arno-pro-icap';
    src: url('../../static/fonts/ArnoPro-SmbdItalicCaption.otf');
  }