.f-nunito {
  font-family: 'Nunito', sans-serif;
}

.f-arnopro-r {
  font-family: arno-pro, sans-serif;
  letter-spacing: 2px;
}

.f-arnopro-b {
  font-family: arno-pro-bold, sans-serif;
  letter-spacing: 2px;
}

.f-arnopro-s {
  font-family: arno-pro-smbd, sans-serif;
  letter-spacing: 2px;
}

.f-arnopro-c {
  font-family: arno-pro-icap, sans-serif;
  letter-spacing: 2px;
}

@media (min-width: 1025px) {
  .nunito-text-small {
    font-family: 'Nunito', sans-serif;
    font-size: 0.85rem;
  }  

  .text-small {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .text-medium-small {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .text-md-md {
    font-size: 1.5rem
  }

  .text-medium {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-large {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .subtitle-h2-italic {
    font-family: 'arno-pro-icap';
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: 40px;
  }

  .subtitle-h3 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .subtitle-h4 {  
    font-size: 1.3rem;
    color: black;  
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
}

@media (min-width: 769px) and (max-width:1024px) {
  .nunito-text-small {
    font-family: 'Nunito', sans-serif;
    font-size: 0.6rem;
  }  

  .text-small {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .text-medium-small {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .text-md-md {
    font-size: 1.5rem
  }

  .text-medium {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .text-large {
    font-size: 2.7rem;
    line-height: 3.3rem;
  }

  .subtitle-h2-italic {
    font-family: 'arno-pro-icap';
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 40px;
  }

  .subtitle-h3 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .subtitle-h4 {  
    font-size: 1.1rem;
    color: black;  
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .nunito-text-small {
    font-family: 'Nunito', sans-serif;
    font-size: 0.6rem;
  }  

  .text-small {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  .text-medium-small {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .text-md-md {
    font-size: 1.2rem
  }

  .text-medium {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .text-large {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .subtitle-h2-italic {
    font-family: 'arno-pro-icap';
    font-size: 1.22rem;
    line-height: 1.95rem;
    margin-bottom: 40px;
  }

  .subtitle-h3 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .subtitle-h4 {  
    font-size: 1rem;
    color: black;  
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .nunito-text-small {
    font-family: 'Nunito', sans-serif;
    font-size: 0.6rem;
  }  

  .text-small {
    font-size: 0.5rem;
    letter-spacing: 0.8px;
  }

  .text-medium-small {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .text-md-md {
    font-size: 0.8rem
  }

  .text-medium {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .text-large {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .subtitle-h2-italic {
    font-family: 'arno-pro-icap';
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 40px;
  }

  .subtitle-h3 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .subtitle-h4 {  
    font-size: 0.75rem;
    color: black;  
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
}

.text-center {
  text-align: center;
}

.justified {
  text-align: justify
}

.spaced {
  letter-spacing: 5px;
}