.f-nunito {
  font-family: 'Nunito', sans-serif;
}

.nunito-text-small {
  font-family: 'Nunito', sans-serif;
  font-size: 0.85rem;
}

.f-arnopro-r {
  font-family: arno-pro, sans-serif;
  letter-spacing: 2px;
}

.f-arnopro-b {
  font-family: arno-pro-bold, sans-serif;
  letter-spacing: 2px;
}

.f-arnopro-s {
  font-family: arno-pro-smbd, sans-serif;
  letter-spacing: 2px;
}

.f-arnopro-c {
  font-family: arno-pro-icap, sans-serif;
  letter-spacing: 2px;
}

.fas {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.justified {
  text-align: justify
}

.text-medium-small {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.spaced {
  letter-spacing: 5px;
}

.text-md-md {
  font-size: 1.5rem
}

.text-medium {
   font-size: 2rem;
   line-height: 2.5rem;
}

.text-large {
   font-size: 3rem;
   line-height: 3.5rem;
}

h1.text-xlarge {
    font-size: 4rem;
    line-height: 4.5rem;
}

.subtitle-h2-italic {
  font-family: 'arno-pro-icap';
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 40px;
}

.subtitle-h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.subtitle-h4 {
  font-size: 1.3rem;
  color: black;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
