.nav-logo {
  display: inline-block;
}

.nav-main {
  background-color: transparent;
  // height: 30px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 0 50px;
  z-index: 3;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item,
.nav-item-box {
  font-size: 0.8em;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}

.nav-item {
  padding: 20px 30px;

  &.black {
    color: black;
  }

  &.active {
    span {
      border-bottom: solid 2px $bright-gold;
      padding: 0 3px 1px 3px;
    }
  }

  &:hover {
    background-color: $bright-gold;
    color: $black;
  }
}

.nav-item-box {
  padding: 20px 20px;
  background-color: rgba(66, 70, 80, 0.75);

  &:hover {
    background-color: $bright-gold;
    color: $black;
  }
}

#nav-dropdown {
  display: none;
  position: relative;

  .navbar-burger.white {
    color: white;
  }

  .dropdown-container {
    position: absolute;
    top: 52px;
    right: 0;
    background: $dark-grey;

    width: 400px;
    max-width: 80vw;
    transition: 0.4s;

    .navbar-dropdown {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 833px) {
  .nav-items {
    display: none;
  }

  #nav-dropdown  {
    display: block;
  }
}
